.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.cfh button {
    margin: 30px;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;

}

.signup-login button {
    margin: 30px;
    font-size: 20px;
}

.signup-login .login {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.signup-login .signUp {
    padding: 7px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #3c1d59;
    color: white;
    border-radius: 5px;
}

